/* my device width 1920px */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F1F1F3;
  font-family: "Fira Sans", serif;
  color: rgba(14, 14, 14, 1);
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.bg-white {
  border-radius: 19.2px;
  background-color: #fff;
}

.bg-primary {
  background-color: #C6E4D6;
}


.btn-primary {
  background-color: #006A50;
  padding: 20.4px 40.8px;
  color: white;
  border-radius: 9.6px;
  font-size: 21.6px;
  border: none;
  max-width: 324px;
}

/* Nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28.8px 192px 52.8px;
}

nav>h1 {
  font-size: 38.4px;
  color: #0E0E0E;
}

.nav-btn {
  padding: 18px 36px;
  color: #006A50;
  border: 1px solid #006A50;
  border-radius: 9.6px;
  font-size: 21.6px;
}

main {
  margin: 0 192px;
}

/* Hero style */
#hero {
  display: flex;
  gap: 76.8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 28.8px;
  min-height: 672px;
  padding: 0 115px;
}

#hero>img {
  min-width: 568.84px;
}

#hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 746.4px;
}

.hero-subtitle {
  margin-bottom: 19.2px;
  font-size: 28.8px;
  color: rgba(14, 14, 14, 0.5);
}

.hero-title {
  margin-bottom: 28.8px;
  padding-right: 10px;
  font-size: 67.2px;
  color: #0E0E0E;
}

/* Pillars style */
#pillars {
  margin: 96px 0;
}

.section-title {
  font-size: 48px;
  color: #0E0E0E;
}

.subtitle {
  color: rgba(14, 14, 14, 0.8);
  font-size: 24px;
  margin: 28.8px 0 14.2px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 28.8px;
  margin: 38.4px 0 96px;
}

.card {
  flex: 1;
  padding: 28.8px;
  background-color: #fff;
  border-radius: 19.2px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 19.2px;
  line-height: 28.8px;
}

/* Vision style */
#vision>.description {
  margin: 28.8px 0 38.4px;
}

#vision .card {
  padding: 38.4px;
  border: none;
}

.card-button {
  padding: 13.2px 24px;
  border: none;
  border-radius: 9.6px;
  color: white;
  font-size: 19.2px;
  font-weight: 600;
  margin: 28.8px 0 0;
}

#vision .blue-card {
  background-color: rgba(84, 144, 245, 0.2);

  .card-button {
    background-color: rgba(84, 144, 245, 1);
  }
}

#vision .green-card {
  background-color: rgba(198, 228, 214, 1);
  padding-right: 100px;

  .card-button {
    background-color: rgba(9, 161, 92, 1);
  }
}

#vision .yellow-card {
  background-color: rgba(247, 235, 207, 1);

  .card-button {
    background-color: rgba(255, 194, 57, 1);
  }
}



#vision .quote {
  display: flex;
  flex-direction: column;
  margin: -57.6px 0 96px;
  padding: 57.6px 28.8px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}


.quote-description {
  color: rgba(14, 14, 14, 0.8);
}

.yunus {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin: 14.4px 0 4.8px;
}

.yunus-designation {
  color: rgba(14, 14, 14, 0.6);
}

/* Opinion style */
#opinion > .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38.4px;
  margin-top: 28.8px;
}
table {
  border-collapse: collapse;
  min-width: 1444px;
}
th, td {
  text-align: left;
  padding: 28.8px;
  font-size: 19.2px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
th {
  font-size: 24px;
  border: none;
}
select {
  border: 1px solid #0E0E0E;
  background-color: #C6E4D6;
  border-radius: 4.8px;
  padding: 12px 16.8px;
  font-size: 19.2px;
  font-weight: 500;
}
