/* my device width 1920px */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F1F3;
  font-family: "Fira Sans", serif;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.bg-primary {
  background-color: #C6E4D6;
}

.btn-primary {
  background-color: #006A50;
  padding: 20.4px 40.8px;
  color: white;
  border-radius: 9.6px;
  font-size: 21.6px;
  border: none;
  max-width: 324px;
}

/* Nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28.8px 192px 52.8px;
}

nav>h1 {
  font-size: 38.4px;
  color: #0E0E0E;
}

.nav-btn {
  padding: 18px 36px;
  color: #006A50;
  border: 1px solid #006A50;
  border-radius: 9.6px;
  font-size: 21.6px;
}

main {
  margin: 0 192px;
}

/* Hero style */
#hero {
  display: flex;
  gap: 76.8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 28.8px;
  min-height: 672px;
  padding: 0 115px;
  /* border: 1px solid black; */
}

#hero img {
  min-width: 568.84px;
  /* border: 1px solid black; */
  /* margin-left: 76.8px; */
}

#hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 746.4px;
  /* border: 1px solid black; */

}

.hero-subtitle {
  margin-bottom: 19.2px;
  font-size: 28.8px;
  color: rgba(14, 14, 14, 0.5);
}

.hero-title {
  margin-bottom: 28.8px;
  padding-right: 10px;
  font-size: 67.2px;
  color: #0E0E0E;
}

/* Pillars style */
#pillars {
  margin: 96px 0;
}

.section-title {
  font-size: 40px;
  color: #0E0E0E;
}

#pillars .subtitle {
  color: rgba(14, 14, 14, 0.8);
  font-size: 24px;
  margin: 28.8px 0 14.2px;
}

#pillars .card-container {
  display: flex;
  justify-content: space-between;
  gap: 28.8px;
  margin: 38.4px 0 96px;
}

#pillars .card {
  padding: 28.8px;
  background-color: #fff;
  border-radius: 19.2px;
  border: 1px solid rgba(14, 14, 14, 0.15);

}

#pillars .card .description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 19.2px;
  line-height: 28.8px;
}